
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* Global Design */

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F7F7F7;
}
h4 {
    color: #111111;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.btn {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 12px;
    border: none;
    background-color: #FEA301;
    color: #fff;
}
.black-1 {
    color: #111111;
}
img {
    width: 100%;
}

header,
.standard-curriculum-container,
.our-stories-container,
footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.header-container,
.standard-curriculum,
.our-stories,
.footer-container {
    max-width: 1140px;
}

/* Header style */

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.logo-title {
    font-weight: 700;
    font-size: 2rem;
    margin-left: 10px;
}

.navigation ul {
    display: flex;
    gap: 32px;
    justify-content: space-around;
    width: 380px;
    font-size: 1.25rem;
    font-weight: 500;
    list-style-type: none;
}

.navigation li:nth-child(1) {
    font-weight: 700;
    color: #FEA301;
}
.navigation li:nth-child(2) {
    color: #01ACFD;
}
.navigation li:nth-child(3) {
    color: #05D4DF;
}
.navigation li:nth-child(4) {
    color: #5D58EF;
}

/* hero */

.banner-container {
    display: flex;
}

.banner-content {
    width: 60%;
    padding: 120px 0;
}

.hero-title {
    font-size: 3.5rem;
    max-width: 640px;
}
#title-color-1 {
    color: #FEA301;
}
#title-color-2 {
    color: #01ACFD;
}

.banner-content p {
    font-size: 1.25rem;
    margin: 24px 0;
}

.banner-content button {
    background-color: #111111;
}
#hamburger {
    display: none;
}

/* Responsive design mobile */
@media screen and (max-width: 576px) {
    .navigation,
    .contact-btn,
    .logo-title
    {
        display: none;
    }
    #hamburger {
        display: block;
        font-size: 2rem;
        padding: 4px 8px;
    }
    nav {
        padding: 10px 15px;
        margin: 0;
        border: 0.5px solid #FEA301;
    }
    .banner-container {
        flex-direction: column-reverse;
        margin: 0 20px;
    }
    .hero-title {
        text-align: center;
        font-size: 2rem;
    }
    .banner-content {
        width: 100%;
        padding: 20px 0;
    }
    .banner-content p {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .hero-btn {
        display: flex;
        justify-content: center;
    }
}

/* Min section design */

/* section 1 */
.standard-curriculum-container{
    background-image: url("../assets/bg.png");
}
.standard-curriculum {
    margin: 60px 0;
}
.standard-curriculum h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 80px;
}
.card-container {
    display: flex;
    gap: 28px;
}
.cards {
    border-radius: 18px;
    padding: 60px 0;
    box-shadow: 0 0 28px 0.9px rgba(0, 0, 0, 0.07);
}
.cards img {
    display: block;
    margin: 0 auto 33px;
    width: 136px;
    height: 136px;
}
.cards h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin-bottom: 33px;
}
.cards p {
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    text-align: center;
    margin: 0 40px 33px;
}
.cards a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    text-align: center;
}
.card-1 {
    background-image: linear-gradient(#DEF5FF, #ffffff);
}
.card-2 {
    background-image: linear-gradient(#FFF4DC, #ffffff);
}
.card-3 {
    background-image: linear-gradient(#EEE1FF, #ffffff);
}
.card-1 a {
    color: #64C8FF;
}
.card-2 a {
    color: #F0AA00;
}
.card-3 a {
    color: #8700FF;
}

/* section 2 */

.our-stories-container {
    background-image: linear-gradient(to top, rgba(254, 163, 1, 0.2), #FFFFFF), url("../assets/bg.png");
}
.our-stories {
    padding: 60px 0;
}
.our-stories h3 {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.post-container {
    display: flex;
    gap: 20px;
}
.post-date-style {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 47px;
    background-color: #3CD8E8;
    overflow: auto;
    margin: -30px 0 33px 40px;
}
.left-post-container {
    background-color: #ffffff;
    height: 630px;
    border-radius: 16px;
}
.left-post-container img,
.posts img {
    border-radius: 16px 16px 0 0;
}
.left-post-container h4 {
    font-size: 1.5rem;
    font-weight: 700;
    width: 80%;
    margin: 0 0 50px 40px;
}
.post-description {
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    width: 80%;
    margin-left: 40px;
}

.right-post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.posts {
    width: 290px;
    height: 300px;
    border-radius: 16px;
    background-color: #ffffff;
}
.posts h4 {
    font-size: 1rem;
    font-weight: 700;
    width: 60%;
    margin-left: 45px;
}
.posts p {
    margin-bottom: 20px;
    color: #ffffff;
}
.post-5, .post-6 {
    display: none;
}
.post-1 p,
.post-3 p,
.post-4 p {
    background-color: #95B226;
}
.post-2 p {
    background-color: #5D58F0;
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 80px 0 0;
}
.our-stories button {
    background-color: #111111;
}
/* Responsive */
@media screen and (max-width: 576px) {
    .our-stories {
        margin: 40px 0;
    }
    .left-post-container {
        display: none;
    }
    .right-post-container {
        margin: 0 auto;
    }
    .post-5, .post-6 {
        display: block;
    }
    .post-3 p,
    .post-4 p {
    background-color: #5D58F0;
    }
    .post-5 p,
    .post-6 p {
    background-color: #95B226;
    }
    .posts {
        width: 175px;
        height: 180px;
    }
    .posts p {
        font-size: 0.55rem;
        margin-top: -15px;
        margin-left: 20px;
        margin-bottom: 10px;
        padding: 5px 10px;
    }
    .posts h4 {
        font-size: 0.55rem;
        margin-left: 20px;
    }
    .button-container {
        margin-top: 20px;
    }
    .button-container button{
        font-size: 1rem;
        padding: 7px 30px;
    }

    .standard-curriculum h2 {
        font-size: 1.7rem;
        margin-bottom: 20px;
    }
    .card-container {
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
    }
    .cards img {
        width: 88px;
        height: 88px;
    }
    .cards h3 {
        font-size: 1rem;
    }
    .cards p {
        font-size: 0.7rem;
    }
}

/* Footer Section */
footer {
    background-color: #01ACFD;
    color: #fff;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
.brand-info {
    width: 45%;
}
.footer-brand {
    display: flex;
    margin-bottom: 35px;
}
.footer-brand img {
    width: 82px;
    height: 82px;
}
.footer-brand h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 10px;
}
.brand-info p {
    font-size: 1.25rem;
    font-weight: 400;
}
.footer-menu {
    width: 20%;
}
footer h5{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-menu ul {
    list-style-type: none;
}
.footer-menu li {
    font-size: 1.23rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.social-media {
    width: 25%;
}
.social-media img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
/* responsive */
@media screen and (max-width: 576px) {
    .footer-container {
        flex-direction: column;
        padding: 60px 30px;
    }
    .brand-info,
    .footer-menu,
    .social-media {
        width: 100%;
    }
    footer h5{
        font-size: 1.3rem;
    }
    .brand-info {
        margin-bottom: 30px;
    }
    .brand-info h2 {
        font-size: 1rem;
    }
    .footer-brand {
        margin-bottom: 20px;
    }
    .footer-brand img {
        width: 70px;
        height: 70px;
    }
    .footer-brand h2 {
        font-size: 2rem;
    }
    .footer-menu {
        margin-bottom: 30px;
    }
    .footer-menu li {
        font-size: 1rem;
    }
    .social-media img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }
}